@{
    ViewBag.Title = "RestaurantList";
}

<h2>Restaurant List</h2>

<h3>Restaurant Name</h3>
<h4>Address of Restaurant</h4>

<div>
    <img src="" />

    <h4>Restaurant Details</h4>
</div>

<table>
    <tr>
        <td>Cuisine :</td>
        <td>Nepali,Chinese,Continental</td>
    </tr>
    <tr>
        <td>Service Charge :</td>
        <td>Applicable</td>
    </tr>

    <tr>

        <td>VAT :</td>
        <td>Applicable</td>
    </tr>

    <tr>
        <td>Opening Time :</td>
        <td>Time</td>
    </tr>
</table>

<a href="#" >View Menu</a>

