@model FoodExNepal.Models.Restaurant
@{
    ViewBag.Title = "FoodMenuList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Menu for @Model.RestaurantName</h2>
@{
    
 }



<table>
    
</table>
