@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_TwoColumnLayout.cshtml";
}

    
        <h3>About Us</h3>
            <p></p>
        <p>Currently, we are operational in Kathmandu Valley. We are the pioneers in the field and needless to say, one of Middle East’s first service providers in this space.
        To put it in a nutshell, we are a one-stop online shopping mall for restaurants as well as online shoppers.</p> 
<br />


    <h3>Quick Facts About Foodex Nepal</h3>
    <p>
    More than 1700 restaurants from various cuisines<br />
    Exceeded 10 million orders till date<br />
    Our family of registered members is over 500,000 users<br />
    More than one million application downloads in iOS and Android<br />
    We receive more than 70,000 unique visits per day<br />
        </p>

    
