@model FoodExNepal.Models.FoodCategory

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2> @Model.Restaurant.RestaurantName (@Model.Restaurant.RestaurantId)</h2>
<p><h3 style="color:orange">Delete Food Category</h3></p>

<h3>Are you sure you want to delete food Category "@Html.DisplayFor(model => model.FoodCategoryName)"?</h3>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
