<div class="col-md-4">
                        <div class="templatemo-service-item" >
                            <div>
                                <img src="~/images/foodex1.png">
                                <span class="templatemo-service-item-header">Why Foodex Nepal ?</span>
                            </div>
							<p>
								Looking for a Pizza, a Burger, how about some Indian Food or maybe some Chinese Food ? Look no more ! 
						   We have a wide variety of restaurants in Nepal. Foodexnepal.com is your destination for online food 
						   delivery in Nepal.
							</p>
                            <div>
                                <a href="#" 
                                	class="templatemo-btn-read-more btn btn-orange">READ MORE</a>
                            </div>
                            <br class="clearfix"/>
                        </div>
                        
                    </div>
                    