  <center>   <div id="topbar">
<a href="" onClick="closebar(); return false"><img src="~/images/close.png" height="30px" border="0" style="position:absolute; padding-left:768px; margin-top:-20px; height:33px;margin-left:24px" ></a>
<img src="~/images/homepageimage/@ViewBag.popup">
</div> </center>