@model FoodExNepal.Models.WebsiteProfile
@{
    ViewBag.Title = "WelcomeDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="templatemo-service">
            <div class="container">
<h4>@*@Model.WelcometoFoodexNepal*@ @ViewBag.welcome</h4>
                </div>
    </div>