@{
    ViewBag.Title = "WhyFoodexDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="templatemo-service">
            <div class="container">
<h4>@ViewBag.WhyFoodex</h4>
                </div>
    </div>